/*.admin-nav {
	background-color: #282828;
}
.admin-nav-button {
	display: inline-block;
	font-weight: 900;
	margin-right: 15px;
	line-height: 50px;
}
.admin {
	margin-top: 20px;
}
.admin .heading {
	color: #333;
}*/
