// --------------------------------------------------
// PATHS
// --------------------------------------------------
$font-path: "../fonts";
// --------------------------------------------------
// Gutter Variables
// --------------------------------------------------
$space-base: 8px;
$space-xs: 16px;
$space: 24px;
$space-half: $space / 2;
$space-xl: 144px;
$space-xl-half: $space-xl / 2;
$space-l: 96px;
$space-m: 48px;

$blue: #3760e4;
