//http://julienmelissas.com/no-gutter-column-trick-for-bootstrap/
/* no-gutters Class Rules */
.form-group.no-gutters,
.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.form-group.no-gutters > [class*="col-"],
.form-group.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"],
.row.no-gutters > [class^="col-"] {
    padding-right: 0;
    padding-left: 0;
}
.no-gutter-right {
    @media (min-width: $screen-md-min) {
        padding-right: 0;
    }
}
.container-fluid.no-gutters {
    padding-right: 0;
    padding-left: 0;
}
